.headshot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    object-fit: cover;
}

.landing-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    min-width: 315px;
}

.landing-page-footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    margin-bottom: 1rem;
    opacity: 0.7;
}
@media screen and (max-width: 42em) { .landing-page-footer { position: inherit; margin-bottom: 0; } }

.landing-page-footer a {
    color: #ffffff;
    opacity: 1;
}

.icons {
    list-style: none;
    padding-left: 0;
}


ul.icons li {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

ul.icons li a.btn {
    border-radius: 100%;
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    font-size: 1.3rem;
    padding: 0;
    margin-bottom: 0;
}